/* CustomScrollbar.css */

/* Estilizando a barra de rolagem para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
  }
  
  /* Estilizando o trilho da barra de rolagem */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cor do trilho */
  }
  
  /* Estilizando o "polegar" ou a alça da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    background-color: #36055f; /* Cor do polegar */
    border-radius: 5px; /* Borda arredondada do polegar */
  }
  
  /* Alterando a aparência do polegar quando estiver sendo arrastado */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor do polegar durante o hover */
  }
  